.about-section{
    text-align:center;
    padding: auto;
    color:black;
}

.container{
    text:size adjust 50px;
    text-align: center;
    padding:auto;
    color: rgb(254, 254, 255);
}

body{ 
  background-image: url(Untitled-design-1-10.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.music {
    border-radius: 50px;
}

ul{
 list-style-type: none;
 margin: 0;
 padding: 0;
 overflow: hidden;
 background-color: #333;
}
li{
    float: left;
}
li a{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
li a:hover {

    background-color: #666;
}

li a .active {
    background-color: #111;
}